<div class="form-container md:w-2/5">
  <h2 class="py-2 font-bold text-black text-xl">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :email %>
    <br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>
        <%= "(#{@minimum_password_length} characters minimum)" %>
      </em>
    <% end %>
    <br/>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-field" %>
    <%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field" %>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-indigo mt-4 w-full" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
