<div class="flex flex-col justify-between mb-8">
  <h3 class="font-bold text-xl">
    <%= link_to recipe.name, recipe_path(recipe) %>
  </h3>
  <div class="flex flex-row items-center justify-between">
    <div class="mt-2">
      <p class="mt-2">
        <%= recipe.description %>
      </p>
    </div>
    <div class="flex flex-row items-center justify-end mt-4">
      <%= button_to 'Delete', recipe_path(recipe), class: "btn bg-white text-red-600 cursor-pointer hover:text-red-800", method: :delete %>
      <%= button_to 'Edit', edit_recipe_path(recipe), class: "btn btn-teal mr-2", method: :get %>
    </div>
  </div>
</div>
