<%= form_for @recipe,
  html: {
    class: "form-container",
    data:
      { 'controller' => 'edit-recipe',
        'edit-recipe-available-ingredients' => @available_ingredients.to_json
      }
  } do |form| %>
  <h1>Edit Recipe</h1>
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-field" %>
  <%= form.label :description %>
  <%= form.text_area :description, class: "form-field" %>
  <div data-target="edit-recipe.ingredientGroup">
    <% @ingredients.each_with_index do |ingredient, i| %>
      <div data-target="edit-recipe.ingredient">
        <select
          class="form-field-inline bg-white text-text-gray-600 w-full md:w-auto"
          data-target="create-recipe.availableIngredients"
          name=<%="recipe[ingredient_recipes_attributes][#{i}][ingredient_id]"%>
        >
          <option value="<%= ingredient[:ingredient_id] %>">
            <%= ingredient[:name] %>
          </option>
          <% @available_ingredients.each do |available_ingredient| %>
            <option value="<%= available_ingredient.id %>">
              <%= available_ingredient.name %>
            </option>
          <% end %>
        </select>
        <input
          class="form-field-inline"
          type="number"
          step="1"
          min="1"
          name=<%= "recipe[ingredient_recipes_attributes][#{i}][quantity]" %>
          value=<%= ingredient[:quantity] %>
        />
        <button
          class="btn btn-indigo-rev text-blue font-bold text-lg"
          data-action="click->edit-recipe#removeIngredient"
        >
          -
        </button>
      </div>
    <% end %>
  </div>
  <button
    class="btn btn-indigo my-2"
    data-action="click->edit-recipe#addIngredient"
    data-target="edit-recipe.addIngredientButton"
  >
    Add Ingredient
  </button>
  <div class="flex items-center justify-between">
    <%= form.submit "Save", class: "btn btn-indigo btn-group-left flex-1" %>
    <%= link_to "Back", recipes_path, class: "btn btn-link btn-indigo-rev btn-group-right flex-1 text-center" %>
  </div>
  <template data-target="edit-recipe.ingredientTemplate">
    <div data-target="edit-recipe.ingredient">
      <select
        class="form-field-inline bg-white text-text-gray-600 w-full md:w-auto"
        data-target="edit-recipe.availableIngredients"
        name="recipe[ingredient_recipes_attributes][0][ingredient_id]"
      >
        <% @available_ingredients.each do |ingredient| %>
          <option value="<%= ingredient.id %>">
            <%= ingredient.name %>
          </option>
        <% end %>
      </select>
      <input
        class="form-field-inline"
        type="number"
        step="1"
        min="1"
        name="recipe[ingredient_recipes_attributes][0][quantity]"
      />
      <button
        class="btn btn-indigo-rev text-blue font-bold text-lg"
        data-action="click->edit-recipe#removeIngredient"
      >
        -
      </button>
    </div>
  </template>
<% end %>
