<div class="container px-2 pt-4 flex flex-col">
  <section class="card level">
    <div class="flex flex-row items-center justify-between">
      <h1 class="text-teal-900 text-xl font-bold">Recipes</h1>
      <%= link_to "New Recipe +", new_recipe_path, class: "btn btn-link btn-teal text-white" %>
    </div>
    <div class="px-2 my-4">
      <% @recipes.each do |recipe| %>
        <%= render 'recipe', recipe: recipe %>
      <% end %>
    </div>
  </section>
</div>
