<%= form_for @recipe,
  html: {
    class: "form-container",
    data:
      { 'controller' => 'create-recipe',
        'create-recipe-available-ingredients' => @available_ingredients.to_json
      }
  } do |form| %>
  <h1 class="font-bold text-xl text-gray-900">Create Recipe</h1>
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-field" %>
  <%= form.label :description %>
  <%= form.text_area :description, class: "form-field" %>
  <div data-target="create-recipe.ingredientGroup">
    <div>
      <select
        class="form-field-inline bg-white text-text-gray-600 w-full md:w-auto"
        data-target="create-recipe.availableIngredients"
        name="recipe[ingredient_recipes_attributes][0][ingredient_id]"
        data-tid="new-recipe-ingredient-select"
      >
        <% if !@available_ingredients.present? %>
          <span class="flex mx-auto my-2">No Ingredients Available</span>
        <% end %>
        <% @available_ingredients&.each do |ingredient| %>
          <option value="<%= ingredient.id %>">
            <%= ingredient.name %>
          </option>
        <% end %>
      </select>
      <input
        class="form-field-inline"
        type="number"
        step="1"
        min="1"
        name="recipe[ingredient_recipes_attributes][0][quantity]"
        data-tid="new-recipe-ingredient-input"
      />
      <button
        class="btn btn-indigo-rev text-blue font-bold text-lg"
        data-action="click->create-recipe#removeIngredient"
      >
        -
      </button>
    </div>
  </div>
  <button
    class="btn btn-indigo my-2"
    data-action="click->create-recipe#addIngredient"
  >
    Add Ingredient
  </button>
  <div class="btn-group flex items-center justify-between">
    <%= form.submit "Create", class: "btn btn-indigo btn-group-left flex-1" %>
    <%= link_to "Back", :back, class: "btn btn-link btn-indigo-rev btn-group-right flex-1 text-center" %>
  </div>
  <template data-target="create-recipe.ingredientTemplate">
    <div>
      <select
        class="form-field-inline bg-white text-text-gray-600 w-full md:w-auto"
        data-target="create-recipe.availableIngredients"
        name="recipe[ingredient_recipes_attributes][0][ingredient_id]"
        data-tid="new-recipe-ingredient-select"
      >
        <% if !@available_ingredients.present? %>
          <span class="flex mx-auto my-2">No Ingredients Available</span>
        <% end %>
        <% @available_ingredients&.each do |ingredient| %>
          <option value="<%= ingredient.id %>">
            <%= ingredient.name %>
          </option>
        <% end %>
      </select>
      <input
        class="form-field-inline"
        type="number"
        step="1"
        min="1"
        name="recipe[ingredient_recipes_attributes][0][quantity]"
        data-tid="new-recipe-ingredient-input"
      />
      <button
        class="btn btn-indigo-rev text-blue font-bold text-lg"
        data-action="click->create-recipe#removeIngredient"
      >
        -
      </button>
    </div>
  </template>
<% end %>
