<div class="container-md flex flex-col card">
  <h1 class="text-lg font-bold">
    <%= @recipe.name %>
  </h1>
  <h3 class="my-2 text-left">
    <%= @recipe.description %>
  </h3>
  <% @recipe.ingredient_recipes.each do |ingredient_recipe| %>
    <div>
      <strong>
        <%= "#{ingredient_recipe.ingredient_name}:" %>
      </strong>
      <%= "#{ingredient_recipe.quantity} #{ingredient_recipe.ingredient.unit}(s)" %>
    </div>
  <% end %>
  <h3 class="my-2 text-left">
    Estimated Price
    <%= number_to_currency(@recipe.estimated_price, precision: 2) %>
  </h3>
  <div class="flex flex-row mt-6 items-center my-2">
    <div class="visited:text-white text-center btn btn-group-left btn-indigo flex-1">
      <%= button_to 'edit', edit_recipe_path(@recipe), method: :get, class: 'bg-blue-500 text-white' %>
    </div>
    <div class="visited:text-white btn btn-group-right btn-red flex-1">
      <%= button_to "delete", @recipe, method: :delete, class: 'bg-red-500 text-white' %>
    </div>
  </div>
</div>
