<%= form_for :user, url: users_path, html: {class: "form-container"} do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-field" %>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-field" %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-field" %>
  <%= f.submit "Sign Up", class: "btn btn-indigo mt-4" %>
  <div class="pt-6">
    Already have an account? #{link_to "Sign In", login_path, class: "ml-4 text-blue visited:blue"}
  </div>
<% end %>
