<div class="form-container">
  <h2 class="font-bold text-black text-xl my-2">Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :post, class: "my-4" }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :email, class: "my-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "form-field my-2" %>
    <div>
      <%= f.submit "Send me reset password instructions", class: "btn btn-indigo my-2" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
