<%= form_for @ingredient do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-gray-900 text-lg font-bold">
        <%= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:" %>
      </h2>
      <ul>
        <% @ingredient.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <br/>
  <%= f.text_field :name, autofocus: true, placeholder: "Name", required: true, class: "form-field" %>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Description", class: "form-field" %>
  <%= f.label :price %>
  <br/>
  <%= f.number_field :price, placeholder: "Cost per unit", step: 0.01, required: true, class: "form-field" %>
  <%= f.label :unit %>
  <br/>
  <%= f.text_field :unit, placeholder: "Unit of measurement", required: true, class: "form-field" %>
  <div class="flex justify-between mt-4">
    <%= submit_tag locals[:save_text], class: "btn-group-left btn-indigo flex-1",
      data: { disable_with: "#{locals[:saving_text]}..." } %>
    <%= link_to 'Back', :back, class: 'btn-group-right btn-indigo-rev text-center flex-1' %>
  </div>
<% end %>
