<div class="flex flex-col justify-between mb-8">
  <h3 class="font-bold text-xl">
    <%= link_to ingredient.name, ingredient_path(ingredient) %>
  </h3>
  <div class="mt-2">
    <p class="mt-2 text-gray-600">
      <%= ingredient.description %>
    </p>
  </div>
  <div class="flex flex-row mt-4 justify-between items-center">
    <div>
      <strong class="text-gray-900 mr-2"><%= number_to_currency(ingredient.price, precision: 2) %></strong>
      <span class="text-gray-900"><%= "per #{ingredient.unit}" %></span>
    </div>
    <div class="flex flex-row items-center justify-end">
      <%= button_to 'Delete', ingredient_path(ingredient), class: "btn bg-white text-red-600 cursor-pointer hover:text-red-800", method: :delete %>
      <%= button_to 'Edit', edit_ingredient_path(ingredient), class: "btn btn-teal mr-2", method: :get %>
    </div>
  </div>
</div>
