<div class="container px-2 pt-4 flex flex-col">
  <section class="card level">
    <div class="flex flex-row items-center justify-between">
      <h1 class="text-teal-900 font-bold text-xl">Ingredients</h1>
      <%= link_to "New Ingredient +", new_ingredient_path, class: "btn btn-link btn-teal text-white" %>
    </div>
    <section class="px-2 my-4">
      <% @ingredients.each do |ingredient| %>
        <%= render 'ingredient', ingredient: ingredient %>
      <% end %>
    </section>
  </section>
</div>
