<div class="container-md flex flex-col card">
  <h1 class="text-lg font-bold">
    <%= @ingredient.name %>
    <h3 class="my-2">
      <%= @ingredient.description %>
    </h3>
    <h3 class="my-2">
      <%= "#{number_to_currency(@ingredient.price, precision: 2)} per #{@ingredient.unit}" %>
      <div class="flex flex-row mt-6 w-full items-center">
        <div class="visited:text-white text-center btn btn-group-left btn-indigo flex-1">
          <%= button_to 'edit', edit_ingredient_path(@ingredient), class: 'bg-blue-500 text-white', method: :get %>
        </div>
        <div class="visited:text-white text-center btn btn-group-right btn-red flex-1">
          <%= button_to "delete", @ingredient, method: :delete, class: 'bg-red-500 text-white' %>
        </div>
      </div>
    </h3>
  </h1>
</div>
