<div class="form-container w-5/6 md:w-2/5">
  <h2 class="py-2 font-bold text-xl text-black">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :email %>
    <br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-field" %>
    <% if devise_mapping.rememberable? %>
      <div class="my-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-indigo w-full mt-2" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
