@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  @apply bg-teal-200;
}

.btn {
  @apply rounded font-bold px-4 py-2;
}

.btn .button_to,
.btn input {
  background-color: inherit;
}

.btn:hover {
  @apply cursor-pointer;
}

.btn-group-left {
  @apply rounded rounded-r-none font-bold px-4 py-2 border-2;
}

.btn-group-right {
  @apply rounded rounded-l-none font-bold px-4 py-2 border-2;
}

.btn-blue {
  @apply bg-blue-500 text-blue-100 border-2 border-blue-500;

  &:hover {
    @apply bg-blue-600  border-blue-600 ;
  }
}

.btn-indigo {
  @apply bg-indigo-700 text-indigo-100 border-2 border-indigo-700;

  &:hover {
    @apply bg-indigo-800  border-indigo-800 ;
  }
}

.btn-link.text-white:visited {
  color: white;
}

.btn-red {
  @apply bg-red-500 text-red-100 border-red-500 border-2;
}

.btn-red:hover {
  @apply bg-red-600 text-red-100 border-red-600 border-2;
}

.btn-blue-rev {
  @apply bg-white text-indigo-600 border-indigo-600 border-2;
}

.btn-indigo-rev {
  @apply bg-white text-indigo-700 border-indigo-700 border-2;
}


.btn-teal {
  @apply bg-teal-700 text-teal-100 border-2 border-teal-700;

  &:hover {
    @apply bg-teal-800 border-teal-800;
  }
}

a:visited.btn-teal {
  @apply text-teal-800;
}

a:visited.btn-indigo {
  @apply text-indigo-700;
}

.btn-teal-rev {
  @apply bg-white text-teal-700 border-teal-700 border-2;

  &:hover {
    @apply bg-gray-200 border-teal-800 text-teal-800;
  }
}

a:visited.btn-teal-rev {
  @apply text-teal-700 ;
}

a:visited.btn-indigo-rev {
  @apply text-indigo-700 ;
}

.btn-gray {
  @apply bg-gray-600 text-gray-100 border-2 border-gray-600;

  &:hover {
    @apply bg-gray-600 border-gray-600;
  }
}

.card {
  @apply mt-8 mb-4 mx-4 bg-white shadow rounded px-8 pt-6 pb-8 flex flex-col;
}

.form-container {
  @apply mt-8 mb-4 mx-4 bg-white shadow rounded px-8 pt-6 pb-8 flex flex-col;
}

.form-field {
  @apply shadow appearance-none border rounded w-full my-2 py-2 px-3;
  @apply text-gray-600 leading-tight;

  &:focus {
    @apply outline-none shadow-outline;
  }
}

.form-field-inline {
  @apply shadow appearance-none border rounded my-2 py-2 px-3;
  @apply text-gray-600 leading-tight;
}

.alert {
  @apply border border-red-300 flex justify-center items-center rounded bg-red-100 px-4 py-3 text-red-600 ;
  position: absolute;
  top: .3em;
  right: .5em;
  transition: visibility 500ms, opacity 500ms linear;
  transition-delay: 1s;
}

.inactive {
  visibility: hidden;
  opacity: 0;
}

.notice {
  @apply border border-blue-600 flex justify-center items-center bg-blue-500 rounded text-gray-100 text-sm font-bold px-4 py-3;
  position: absolute;
  top: .3em;
  right: .5em;
  transition: visibility 500ms, opacity 500ms linear;
  transition-delay: 1s;
}

.success {
  @apply border border-green-600 flex justify-center items-center bg-green-500 rounded text-gray-100 text-sm font-bold px-4 py-3;
  position: absolute;
  top: .3em;
  right: .5em;
  transition: visibility 500ms, opacity 500ms linear;
  transition-delay: 1s;
}

.link {
  @apply text-blue-200 flex items-center;

  &:hover {
    @apply text-white;
  }

  &:visited {
    @apply text-blue-800;
  }
}

.home-link {
  @apply text-teal-900 tracking-tight border-teal-800;
  border-bottom-width: 0px;

  &:hover {
    @apply text-teal-900;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transition: border-bottom-width 100ms ease-in;
  }

  &:visited {
    @apply text-teal-900;
  }
}

.brand-name {
  @apply font-semibold text-xl home-link;

  &:hover {
    @apply text-teal-900;
  }

  &:visited {
    @apply text-teal-900;
  }
}

a {
  @apply text-indigo-600;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:visited {
    @apply text-indigo-600;
    text-decoration: none;
  }
}

button:disabled,
button:disabled:hover {
  background-color: #888888;
  color: #444444 !important;
}

body {
  @apply text-gray-600;
  font-family: Barlow, Roboto, sans-serif, monospace;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
