<div class="w-3/5">
  <%= form_for mealplan, data: { controller: 'mealplan-form' },
               html: { class: 'flex flex-col'} do |f| %>
    <% if mealplan.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(mealplan.errors.count, "error")} prohibited this mealplan from being saved:" %>
        </h2>
        <ul>
          <% mealplan.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :name, class: 'mt-6 font-bold' %>
    <%= f.text_field :name, class: 'form-field', required: true %>
    <% if @available_recipes.present? %>
      <%= f.label :recipes, class: 'mt-6 font-bold' %>
      <select class="form-field my-2" data-target="mealplan-form.recipeSelect">
        <% @available_recipes.each_with_index do |recipe, i| %>
          <option name="recipes[<%= i %>]" value="<%= recipe.id %>">
            <%= recipe.name %>
          </option>
        <% end %>
      </select>
      <button class="btn btn-indigo w-full my-2" data-action="mealplan-form#addNewRecipe" type="button">
        Add
      </button>
      <ul data-target="mealplan-form.recipeList py-6"></ul>
    <% else %>
      <h3 class="font-bold text-gray-700 text-center py-2">No recipes yet</h3>
    <% end %>
    <%= f.label :notes, class: 'mt-6 font-bold' %>
    <%= f.text_area :notes, class: 'form-field' %>
    <div class="actions flex justify-between mt-6 text-center">
      <%= f.submit 'Save', class: 'btn-indigo btn-group-left flex-1' %>
      <%= link_to 'Back', :back, class: 'btn-indigo-rev btn-group-right flex-1' %>
    </div>
  <% end %>
</div>
