<div class="flex flex-col justify-between">
  <h3>
    <%= link_to mealplan do %>
      <span>Mealplan for week of</span>
      <strong><%= MealplansHelper.friendly_date(mealplan.created_at) %></strong>
    <% end %>
  </h3>
  <div class="mt-2">
    <div>
      <%= link_to 'Destroy', mealplan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-red-rev text-white btn-link' %>
    </div>
    <div class="font-bold flex flex-row items-center justify-end">
      <%= link_to 'Delete', mealplan_path(mealplan),
        class: 'btn text-red-500 hover:text-red-600 hover:bg-gray-100',
        method: :delete %>
      <%= link_to 'Edit', edit_mealplan_path(mealplan), class: 'btn btn-link text-indigo-600 hover:text-indigo-600 hover:bg-gray-100' %>
      <% if mealplan.pending? %>
        <%= button_to 'Complete',
                    mealplan_mealplan_completions_path(mealplan),
                    class: 'btn btn-link btn-teal text-white mx-2' %>
      <% end %>
      <% if mealplan.completed? %>
        <%= button_to 'Reopen',
                    mealplan_mealplan_reopenings_path(mealplan),
                    class: 'btn btn-link btn-teal text-white mx-2' %>
      <% end %>
    </div>
  </div>
</div>
