<% status = @showing_completed ? 'completed' : 'pending' %>
<div class="container px-2 pt-4 flex flex-col">
  <section class="card level">
    <div class="flex flex-row items-center justify-between">
      <span class="flex flex-col md:flex-row items-baseline">
        <h1 class="font-bold text-teal-900 text-xl mr-4">Mealplans</h1>
        <% if @showing_completed %>
          <%= link_to 'Show Pending', mealplans_path, class: 'text-blue' %>
        <% else %>
          <%= link_to 'Show Completed', mealplans_path + '?completed=true', class: 'text-blue' %>
        <% end %>
      </span>
      <%= link_to 'New Mealplan +', new_mealplan_path, class: 'btn btn-link btn-teal text-white my-auto' %>
    </div>
    <div class="px-2 my-4">
      <% @mealplans.each do |mealplan| %>
        <%= render 'mealplan', mealplan: mealplan %>
      <% end %>
      <% if @mealplans.length.zero? %>
        <p class="font-bold text-base">No <%= status %> mealplans</p>
      <% end %>
    </div>
  </section>
</div>
