<div class="form-container w-3/5 items-center justify-center">
  <h1 class="font-bold text-gray-900 text-xl text-center">New mealplan</h1>
  <%= render partial: 'form', locals: { mealplan: @mealplan, available_recipes: @available_recipes } %>
</div>
