<div class="bg-teal-200 py-4 px-2 text-teal-800">
  <div class="flex items-center justify-between flex-wrap">
    <h3>
      <%= link_to "Mealplanner", root_url, class: "brand-name" %>
    </h3>
    <% if user_signed_in? %>
      <div class="flex items-center justify-between w-full md:w-auto md:justify-end">
        <%= link_to "Ingredients", ingredients_path, class: "home-link pr-2 md:px-4" %>
        <%= link_to "Recipes", recipes_path, class: "home-link pr-2 md:px-4" %>
        <%= link_to "Mealplans", mealplans_path, class: "home-link pr-2 md:px-4" %>
        <%= link_to "Sign Out", destroy_user_session_path,
          class: "home-link font-normal pr-2 md:px-4" %>
      </div>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "home-link pr-2 md:px-4" %>
      <% end %>
    </div>
  </div>
</div>
