<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet"></link>
    <title>Mealplanner</title>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body class="text-base">
    <%= csrf_meta_tag %>
    <% if flash[:notice] %>
      <div class="notice" data-controller="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert" data-controller="flash">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="success" data-controller="flash">
        <%= flash[:success] %>
      </div>
    <% end %>
    <%= render "layouts/navbar" %>
    <div class="flex flex-col items-center">
      <%= yield %>
      </div>
  </body>
</html>
